<div class="contract" data-id="<%= _id %>">

  <div class="contract-title editable"><span class="var" data-var="contract-title"><%- vars['title'] %></span></div>

  <ol class="contract-sections section-list sortable">
      <li id="<%= sections[i].id %>" class="section editable">
        <div class="title">Test</div>
        <div class="content">Hello</div>
      </li>
  </ol>

  <div class="contract-footer">
    <div class="company-signature">
      <div class="title"><span class="var" data-var="company">Imaginary, LLC</span></div>
      <div class="var" data-var="company-address">2221 Walnut Street</div>
      <div class="signature"></div>
      <div class="signature-label">
        <div class="name"><span class="var" data-var="company-signer"><%- vars['company-signer'] %></span></div>
        <div class="date">Date</div>
      </div>
    </div>
    <div class="contractor-signature">
      <div class="title"><span class="var" data-var="contractor"><%- vars['contractor'] %></span></div>
      <div class="var" data-var="contractor-address"><%- vars['contractor-address'] %></div>
      <div class="signature"></div>
      <div class="signature-label">
        <div class="name"><span class="var" data-var="contractor-signer"><%- vars['contractor-signer'] %></span></div>
        <div class="date">Date</div>
      </div>
    </div>
  </div>

</div>